body {
  display: grid;
  height: 100vh;
  width: 100vw; 

  #display {
    justify-self: center;
    width: 500px;
    height: min-content;

    display: grid;
    grid-template-columns: 1fr 1fr;

    #male {
      display: grid;
      justify-items: right;
      div {
        height: 10px;
        background-color: blue;
      }
    }

    #female {
      display: grid;
      justify-items: left;
      div {
        height: 10px;
        background-color: pink;
      }
    }
  }
}
